.fileList {
  margin-top: 7px;
  .fileList-title {
    cursor: pointer;
  }
  .fileList-title:hover {
    color: rgb(0, 89, 255);
  }
  .fileList-icon {
    font-size: 24px;
  }
  .ant-list-pagination {
    margin-top: 10px;
  }
  .ant-list-item-action{
    margin-left: 10px;
  }
  .active{
    background-color: #e8e8e8;
  }
}
