.editor-toolbar {
  border: 0px;
}
.start-page {
  font-size: 30px;
  height: 300px;
  line-height: 300px;
  text-align: center;
  color: #ccc;
}
.left-panel {
  min-height: 100vh;
  border-right: solid 1px #ebedf0;
  padding: 0 7px;
}
